/* Fonts loading. This is to make sure I can use them via the local files. */
@font-face {
	font-family: "Comicoro";
	src: url(fonts/Comicoro.ttf);
}

@font-face {
	font-family: "Classic";
	src: url(fonts/ClassicShit.ttf);
}

:root {

	/* Colors */
	--text: black;
	--section-bg: #FFEFEF;
	--accent: #ff9999;

	/* Variations */
	--caption: #CFB2B2;
	--caption-dark: #B39898;
	--caption-darker: #876f6f;
	--accent-lighter: #ffcccc;
	--accent-light: #fcb0b1;
	--accent-dark: #ff6666;
	--accent-darker: #e74b4b;

	/* Text fonts */
	--title: "Classic";
	--body: "Comicoro";

	/* Text sizes */
	--h1: 44px;
	--h2: 38px;
	--h3: 32px;
	--h4: 28px;
	--h5: 24px;
	--p: 28px;

	/* Padding values */
	--no-padding: 0px;
	--padding-10px: 10px;
	--padding-20px: 20px;

	/* Margin values */
	--no-margin: 0px;
	--margin-10px: 10px;
	--margin-20px: 20px;

	/* Border radius */
	--standard-border-radius: 10px;

}

* {
	box-sizing: border-box;
}

/* Utilities! Should be used with line breaks and divs to make sure the code won't be too full of it. */
.add-top {
	padding-top: var(--20px-padding);
}

.remove-top {
	padding-top: 0px;
}

.remove-bottom {
	padding-bottom: 0px;
}

.add-bottom {
	padding-bottom: var(--20px-padding);
}

/* Categories, "vanilla" HTML */
body {
	padding: var(--padding-10px);
	margin: var(--margin-10px);
	max-width: 100vw;
	background-color: var(--accent);
	scroll-behavior: smooth;
}

/* Text styles */
h1,
h2,
h3,
h4,
h5,
p,
small,
em,
i,
b,
strong,
caption,
a,
img,
table,
td,
tr,
th,
mark {
	border: 0px;
	overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
th {
	color: var(--accent-darker);
	font-family: var(--title);
	padding: 5px 0px 5px 0px;
}

h1 {
	font-size: var(--h1);
}

h2 {
	font-size: var(--h2);
}

h3 {
	font-size: var(--h3);
}

h4 {
	font-size: var(--h4);
}

h5 {
	font-size: var(--h5);
}

p,
small,
em,
i,
b,
strong,
caption,
a,
img,
mark,
td {
	color: var(--accent-dark);
	font-family: var(--body);
}

p,
b,
i,
em,
strong,
a,
mark {
	font-size: 28px;
}

p,
td {
	line-height: 20px;
}

small,
legend,
caption {
	font-size: 24px;
}

mark {}

a {
	color: var(--accent);
	text-decoration: none;
}

a:hover {
	color: var(--accent-dark);
}

table {
	border: 0px transparent;
	border-collapse: collapse;
}

tr {
	border-collapse: collapse;
	padding: var(--no-padding);
	margin: var(--no-margin);
}

th {
	border-collapse: collapse;
	font-family: var(--title);
	font-size: 20px;
}

td {
	border-collapse: collapse;
	font-family: var(--body);
	font-size: 24px;
}

/* Class-specific */
.caption {
	color: var(--caption);
	font-size: 20px;
}

.caption a {
	color: var(--caption-dark);
	font-size: 20px;
}

.caption a:hover {
	color: var(--caption-darker);
}

/* ID-specific */
#notice {
	padding: var(--padding-20px);
	margin: var(--margin-10px);
	text-align: center;
	display: inline-flex;
	position: relative;
	margin-bottom: 0px;
	border: dotted 4px;
	border-radius: var(--standard-border-radius);
	border-color: var(--accent-darker);
	background-color: var(--accent-dark);
	color: white;
}

#welcome {
	padding: var(--padding-20px);
	margin: var(--margin-10px);
	background-color: var(--section-bg);
	border-radius: var(--standard-border-radius);
	float: none;
	position: relative;
	display: flexbox;
}

#about-me {
	vertical-align: middle;
	border-collapse: collapse;
	display: flexbox;
	min-width: 20vw;
	max-width: 50vw;
	padding: var(--padding-10px);
	margin: var(--margin-10px);
	margin-top: 15px;
	border-radius: var(--standard-border-radius);
	background-color: var(--section-bg);
}

#about-me table,
tr,
th,
td {
	max-width: 50vw;
	width: fit-content;
}

#about-me th {
	padding-right: 5px;
	text-align: right;
}

#about-me td {
	padding-left: 5px;
	text-align: left;
}