/* Fonts loading. This is to make sure I can use them via the local files. */
@font-face {
	font-family: "Arima";
	src: url(fonts/Arima-VariableFont.ttf);
}

@font-face {
	font-family: "Mulish";
	src: url(fonts/Mulish-VariableFont.ttf);
}

@font-face {
	font-family: "Mulish Italics";
	src: url(fonts/Mulish-Italic-VariableFont.ttf);
}

:root {
	--white: white;
	--black: black;
	--grey: grey;

	/* theme LIGHT */
	--accent: #8EA58C;
	--hover: #738A6E;
	--mark: rgba(142, 165, 140, 0.7);
	--background-l: #ecf3e9;
	--background-dark-l: #dcdcdc;

	/* font sizes */
	--h1: 42px;
	--h2: 38px;
	--h3: 32px;
	--h4: 28px;
	--h5: 24px;
	--h6: 20px;
	--small: 16px;
	--p: 18px;

	/* padding values */
	--no-padding: 0px;
	--padding-10px: 10px;
	--padding-20px: 20px;

	/* margin values */
	--no-margin: 0px;
	--margin-10px: 10px;
	--margin-20px: 20px;

	/* border radius */
	--standard-border-radius: 10px;

	/* font families */
	--font-header: "Arima";
	--font-body: "Mulish";
	--font-body-italics: "Mulish Italics";

}

/* To make it so that the borders are calculated in the overall sizing of the box. */
body {
	padding: var(--no-padding);
	margin: var(--no-margin);
	box-sizing: border-box;
}

/* Font family for Header text */
h1,
h2,
h3,
h4,
h5,
h6,
th {
	padding: var(--no-padding);
	margin: var(--no-margin);
	font-family: var(--font-header);
}

/* Font family for Body text */
p,
pre,
blockquote,
q,
abbr,
address,
cite,
caption,
bdo,
a,
button,
td,
li,
b,
strong,
i,
em,
mark,
small,
del,
ins,
sub,
sup {
	padding: var(--no-padding);
	margin: var(--no-margin);
	font-family: var(--font-body);
}

/* Font sizes for the headers and normal text */
h1 {
	font-size: var(--h1);
}

h2 {
	font-size: var(--h2);
}

h3 {
	font-size: var(--h3);
}

h4 {
	font-size: var(--h4);
}

h5 {
	font-size: var(--h5);
}

h6 {
	font-size: var(--h6);
}

p,
pre,
blockquote,
q,
abbr,
address,
cite,
caption,
bdo,
a,
button,
td,
li,
b,
strong,
i,
em,
mark,
del,
ins,
sub,
sup {
	font-size: var(--p);
}

small,
small * {
	font-size: var(--small);
	color: var(--grey);
}

mark {
	background: linear-gradient(to bottom, transparent 60%, var(--mark) 40%);
	color: inherit;
}

::selection {
	background-color: var(--mark);
}

/* Classes */
/*Utility classes that can be paired with other classes, for aesthetic uses only.*/

.add-right-margin {
	padding-right: var(--margin-20px);
}

.navbar-box {
	background-color: var(--black);
	padding: var(--padding-10px);
	margin: var(--no-margin);
}

.content-box-rounded-corners {
	background-color: var(--background-l);
	border-radius: var(--standard-border-radius);
	padding: var(--padding-20px);
	margin: var(--margin-10px);
}

.content-box-rounded-corners h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 8px;
}

.link-list li a {
	color: var(--accent);
	text-decoration: none;
}

.link-list li a:hover {
	color: var(--hover);
}

.no-dots {
	margin: var(--no-margin);
	margin-top: var(--margin-20px);
	padding: var(--no-padding);
	list-style-type: none;
}

/*For the grid under the "likes & dislikes" section*/
.table-about-me {
	display: flexbox;
	max-width: 624px;
	padding: var(--padding-10px);
	margin: var(--margin-10px);
	border: solid var(--accent);
	border-radius: var(--standard-border-radius);
	background-color: var(--mark);
}

.table-row {
	display: grid;
	grid-template-columns: 180px minmax(min-content, max-content);
	grid-template-areas:
		'table-header table-data';
}

.table-header {
	display: flexbox;
	justify-self: right;
	margin-right: var(--margin-10px);
	font-family: var(--font-header);
	font-weight: 700;
	font-size: 22px;
	grid-area: table-header;
}

.table-data {
	margin-top: 4px;
	display: flexbox;
	justify-self: left;
	grid-area: table-data;
}

/*End of section*/

/*Grid of the website. DO NOT TOUCH UNLESS ABSOLUTELY CERTAIN ABOUT WHAT YOU'RE DOING. This is responsible for the website's layout, so you should not mess with it.*/
.black-background {
	background-color: var(--black);
	display: flex;
	flex-direction: column;
	position: static;
	align-items: center;
	padding: 0px;
}

.home-content {
	box-sizing: border-box;
	max-width: 100vw;
	padding: var(--padding-20px);
	background-image: url("https://i.postimg.cc/XYP7sz2q/white-crumpled-paper.jpg");
	background-repeat: repeat;
	background-size: cover;
}

.header {
	padding: var(--padding-10px);
	margin: var(--margin-10px);
}

.logo {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 10px 0 0 0;
}

.logo a img {
	max-width: 150px;
	padding: var(--no-padding);
	margin: var(--no-margin);
}

.navbar {
	box-sizing: border-box;
	display: inline-flex;
	justify-content: center;
	max-width: 100vw;
	width: 100%;
	padding: 6px 0 var(--padding-10px);
	margin: var(--no-margin);
}

.navbar ul {
	margin: var(--no-margin);
	padding: var(--no-padding);
	display: inline-flex;
	justify-content: center;
	vertical-align: middle;
}

.navbar ul li {
	display: flex;
	list-style-type: none;
	padding-left: var(--padding-10px);
	padding-right: var(--padding-10px);
	vertical-align: middle;
}

.navbar-box a {
	color: var(--background-l);
	text-decoration: none;
}

.navbar-box a:hover {
	color: var(--accent);
	text-decoration: none;
}

.credits-list {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
}

/* IDs */
#likes-dislikes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"likes dislikes";
}

#likes,
#dislikes {
	padding: var(--padding-20px);
	margin: var(--margin-10px);
	background-color: var(--background-dark-l);
	border-radius: var(--standard-border-radius);
}

#dislikes small {
	color: black;
}

#home-sticker-container {
	display: flex;
	position: fixed;
	width: 500px;
	bottom: 100px;
	left: 800px;
}

#home-sticker {
	display: block;
	width: 500px;
}

/* redimensioning */
@media (max-width: 800px) {

	.content {
		padding: 12px;
	}
}