/* Fonts loading. This is to make sure I can use them via the local files. */
@font-face {
	font-family: "Comicoro";
	src: url(fonts/Comicoro.ttf);
}

@font-face {
	font-family: "Classic";
	src: url(fonts/ClassicShit.ttf);
}

:root {

	/* Colors */
	--text: black;
	--section-bg: #FFEFEF;
	--accent: #ff9999;
	--selection: #ff999980;
	--small-color: grey;

	/* Variations */
	--caption: #CFB2B2;
	--caption-dark: #B39898;
	--caption-darker: #876f6f;
	--accent-lighter: #ffcccc;
	--accent-light: #fcb0b1;
	--accent-dark: #ff6666;
	--accent-darker: #e74b4b;

	/* Text fonts */
	--title: "Classic";
	--body: "Comicoro";

	/* Text sizes */
	--h1: 46px;
	--h2: 40px;
	--h3: 36px;
	--h4: 32px;
	--h5: 28px;
	--h6: 24px;
	--table-header: 20px;
	--small: 20px;
	--p: 28px;

	/* Padding values */
	--no-padding: 0px;
	--padding-10px: 10px;
	--padding-20px: 20px;

	/* Margin values */
	--no-margin: 0px;
	--margin-10px: 10px;
	--margin-20px: 20px;

	/* Border radius */
	--standard-border-radius: 10px;

}

/* To make it so that the borders are calculated in the overall sizing of the box. */
body {
	padding: var(--padding-10px);
	margin: var(--margin-10px);
	box-sizing: border-box;
}

/* Font family for Header text */
h1,
h2,
h3,
h4,
h5,
h6,
th {
	padding: var(--no-padding);
	margin: var(--no-margin);
	font-family: "Classic";
}

/* Font family for Body text */
p,
pre,
blockquote,
q,
abbr,
address,
cite,
bdo,
a,
button,
td,
li,
b,
strong,
i,
em,
mark,
small,
del,
ins,
sub,
sup {
	padding: var(--no-padding);
	margin: var(--no-margin);
	font-family: "Comicoro";
}

/* Font sizes for the headers and normal text */
h1 {
	font-size: var(--h1);
}

h2 {
	font-size: var(--h2);
}

h3 {
	font-size: var(--h3);
}

h4 {
	font-size: var(--h4);
}

h5 {
	font-size: var(--h5);
}

h6 {
	font-size: var(--h6);
}

th {
	font-size: var(--table-header);
}

p,
pre,
blockquote,
q,
abbr,
address,
cite,
bdo,
a,
button,
td,
li,
b,
strong,
i,
em,
mark,
del,
ins,
sub,
sup {
	font-size: var(--p);
}

small,
small * {
	font-size: var(--small);
	color: var(--small-color);
}

mark {
	background-color: var(--selection);
}

a {
	color: var(--accent);
	text-decoration: none;
}

a:hover {
	color: var(--accent-dark);
	text-decoration: none;
}

::selection {
	background-color: var(--selection);
}

/* Classes */
/*Utility classes that can be paired with other classes, for aesthetic uses only.*/
.lightpink-box-rounded-corners {
	background-color: var(--section-bg);
	padding: var(--padding-10px);
	border-radius: var(--standard-border-radius);
	border-collapse: collapse;
}

/*Grid of the website. DO NOT TOUCH UNLESS ABSOLUTELY CERTAIN ABOUT WHAT YOU'RE DOING.
	This is responsible for the website's layout, so you should not mess with it.*/
.grid {
	display: grid;
	grid-template-columns: 150px 2fr 2fr 1fr;
	grid-template-rows: repeat(4 1fr);
	grid-template-areas:
		"navbar header header header"
		"navbar content content content";
	gap: 10px;
}

.header {
	display: block;
	grid-area: header;
}

.navbar {
	display: grid;
	grid-template-columns: none;
	grid-template-rows: repeat(5 1fr);
	gap: var(--padding-10px);
	grid-area: navbar;
	grid-template-areas: 
	"navbar-img";
}

.navbar img {
	grid-area: navbar-img;
	position: relative;
	width: 120px;
	border-collapse: collapse;
	padding: var(--no-padding);
	margin: var(--no-margin);
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* IDs */